<!DOCTYPE html>
<html>
  <head>
    <title>Projet1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

       <%= render partial:"shared/navbar"%>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

       <% if user_signed_in? %>
         <p>
         Bonjour user : <%= current_user.email %> 
         <%= link_to "Se déconnecter", destroy_user_session_path, :method => 'delete' %>
         </p>
       <% else %>
         <p>
         <%= link_to "Se connecter as user", new_user_session_path %>
         </p>
       <% end %>

       <% if teacher_signed_in? %>
         <p>
         Bonjour prof  : <%= current_teacher.email %> 
         <%= link_to "Se déconnecter", destroy_teacher_session_path, :method => 'delete' %>
         </p>
       <% else %>
         <p>
         <%= link_to "Se connecter as teacher", new_teacher_session_path %>
         </p>
       <% end %>

       <%= link_to "Espace Perso", {:controller => "/pages", :action => "monespace"}%>

       <!-- <p> <%= debug session.to_hash %> </p> -->
    <%= yield %>
  </body>
</html>
